.App {
  display: flex;
  background-image: url('./bondcliff.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  width: 100%;
  height: 94vh;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: column;
  color: white;
  padding-bottom: 0px;
}
.nav {
  background-color: #06283B;
  height: 6vh;
  margin-top: 0px;
  margin-bottom:0px;
  padding-top: 0px;
  color: White;
  align-items: center;
  justify-content: center;
  font-size: 1.5vw;
}
.navbar {
  display: flex;
  justify-content: flex-end;
}
.link {
  color: #D2CED1;
  font-size: 1.5rem;
}
.link:hover {
  color: #6598C7;
  font-size: 2rem;
  font-weight: bold;
}
.social {
  padding-left: 10px;
}
.gitHub {
  height: 48px;
  width: 48px;
}
.gitHub:hover {
  height: 56px;
  width: 56px;
}
.email {
  height: 48px;
  width: 48px;
}
.email:hover {
  height: 56px;
  width: 56px;
}
.li {
  height: 48px;
  width: 48px;
}
.li:hover {
  height: 56px;
  width: 56px;
}
.about {
  background-color: #D2CED1;
  height: 750px;
  font-size: 1.75rem;
  padding-top: 50px;
  padding-bottom: 50px;
}
.self {
  height: auto;
  max-width: 125%;
}

.projects{
  background-color: #326229;
  color: #D2CED1;
}

.skills {
  background-color: #6598C7;
  display: flex;
  padding-bottom: 50px;
}

.skillsContainer {
  background-color: #6598C7;
  display: flex;
  flex-direction: row;
  width: 100vw;
  flex-wrap: wrap;
  justify-content: center;
}

.skillCol {
  padding: 10px;
  background-color: white;
  justify-content: center;
  align-items: flex-end;
}
.resume {
  background-color: #7C9F24;
  height: 800px;
}

.contact {
  background-color: #D2CED1;
  height: 800px;
}

.footer {
  background-color: #06283B;
  height: 100px;
  margin-top: 0px;
  margin-bottom:0px;
  padding-top: 0px;
  color: #D2CED1;
}
.projectGrid {
  display: flex;
  max-width: 1800px;
  flex-wrap: wrap;
  justify-content: center;
  display: grid;
  flex-direction: row-reverse;
  grid-template-columns: repeat(auto-fill,minmax(725px, 1fr));
}
.projectImage {
  height: 380px;
  width: 700px;
  object-fit: cover;
}
.projectCell {
  height: 400px;
  width: 700px;
}
.projectImage:hover {
  filter: opacity(.5);
}
.skillsImage {
  height: auto;
  width: 100%;
  object-fit: cover;
}
