@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

.App {
  display: flex;
  background-image: url('./bondcliff.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 84vh;
  justify-content: center;
  align-items: center;
  color: white;
  padding-bottom: 0px;
  font-family: 'Raleway', sans-serif;
}
.highlights {
  display: flex;
  font-size: 1.75rem;
}
.highlightscontainer {
  background: gray;
}
.apple {
  color: #C30000;
}
.appleText {
  display: none;
}
.apple:hover .appleText {
  display: block;
  color: black;
}
.weightlifter {
  color: #0000C3;
}
.weightlifterText {
  display:none;
  font-size: 1.75rem;
}
.weightlifter:hover .weightlifterText {
  display:block;
  color: black;
}
.graduationText {
  display:none;
}
.graduation:hover .graduationText {
  display:block;
}
.spartan {
  color: #C30000;
}
.spartanText {
  color: black;
  display: none;
}
.spartan:hover .spartanText {
  display:block
}
.hiker {
  color: #00C3C3;
}
.hikerText {
  color: black;
  display:none;
}
.hiker:hover .hikerText {
  display: block;
}
.hockeyText {
  display: none;
}
.hockey:hover .hockeyText {
  display:block;
}
.laptop {
  color: #FCFCFC;
}
.laptopText {
  color: black;
  display: none
}
.laptop:hover .laptopText {
  display: block;
}
.headerName {
  font-family: 'Rock Salt', cursive;
  color: white;
}
.headerName:hover {
  color: #6598C7;
}
.nav {
  background-color: black;
  height: 6vh;
  margin-top: 0px;
  margin-bottom:0px;
  padding-top: 0px;
  color: White;
  align-items: center;
  justify-content: center;
  font-size: 1.5vw;
}
.navbar {
  display: flex;
  z-index: 10;
  justify-content: flex-end;
}
.link {
  color: #D2CED1;
  font-size: 1.75rem;
}
.link:hover {
  color: #6598C7;
  font-size: 1.75rem;
  font-weight: bold;
}
.social {
  padding-left: 10px;
}
.gitHub {
  height: 48px;
  width: 48px;
}
.gitHub:hover {
  height: 56px;
  width: 56px;
}
.email {
  height: 48px;
  width: 48px;
}
.email:hover {
  height: 56px;
  width: 56px;
}
.li {
  height: 48px;
  width: 48px;
}
.li:hover {
  height: 56px;
  width: 56px;
}
.aboutContainer {
  background-color: red;
}
.namecol {
  margin-right: 25px;
}
.about {
  background-color: #D2CED1;
background: linear-gradient(90deg, rgba(204,204,204,1) 0%, rgba(231,247,255,1) 50%, rgba(93,100,105,1) 100%);
  height: 84vh;
  font-size: 1.75rem;
  padding-left: 250px;
  padding-right: 250px;
  padding-top: 50px;
  padding-bottom: 50px;
  overflow: scroll;
}
.aboutPic {
  padding: 50px;
}
.aboutText {
  overflow: scroll;
}
.name {
  font-family: 'Rock Salt', cursive;
  text-shadow: 3px 3px steelblue;
  font-style: normal;
}
.namecol {
  font-weight: bolder;
  text-shadow: 2px 2px steelblue;
  font-style: italic;
  margin-bottom: 20px;
}
.self {
  height: auto;
  max-width: 125%;
}

.highlight {
  color: steelblue;
  text-shadow: 1px 1px black;
  font-style: italic;
  font-weight: bold;
}

.projects {
  background-color: #9193a8;
  background: linear-gradient(90deg, rgba(133,166,214,1) 0%, rgba(93,100,105,1) 100%);
  color: #1c222e;
  height: 84vh;
  overflow: scroll;
}
.projects-header {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  margin-top: 50px;
}

.skills {
  background-color: #9193a8;
  background: linear-gradient(90deg, rgba(93,100,105,1) 0%, rgba(18,23,25,1) 50%, rgba(93,100,105,1) 100%);
  display: flex;
  color: white;
  padding-bottom: 500px;
  height: 84vh;
  overflow: scroll;
}

.carouselAbout {
  margin-top: 75px;
}
.contactCont {
  margin-bottom: 50px;
}

.skillsContainer {
  display: flex;
  flex-direction: row;
  width: 80vw;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
}

.skillsHeader {
  display: flex;
  font-size: 1.25rem;
  align-items: center;
  margin-bottom: 20px;
}

.skillsImage {
  height: 100px;
  width: auto;
  padding: 5px;
}
.centered-text {
  display:flex;
  justify-content: center;
  position: relative;
  font-weight: bold;
  font-size: 1.2em;
}

.skillCol {
  display: flex;
  align-items: center;
  padding: 20px;
  margin: 10px;
  height: 100%;
  width: 100%;
  background-color: white;
  justify-content: center;
  border-radius: 15px;
  box-shadow: 5px 5px rgba(133,166,214,1);
}
.skillColContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 10px;
  height: 180px;
  width: 180px;
}
.resume {
  background-color: #7C9F24;
  height: 84vh;
}

.contact {
  background-color: #D2CED1;
  height: 84vh;
  overflow: scroll;
}

.footer {
  display: flex;
  background-color: black;
  height: 10vw;
  margin-top: 0px;
  margin-bottom:0px;
  padding-top: 20px;
  color: #D2CED1;
  padding-left: 125px;
  padding-right: 125px;
  justify-content: space-between;
  z-index: 10;
}
.projects {
  height: 85vh;
  z-index: 1
}
.project{
  margin-bottom: 50px;
}
.projectGrid {
  display: flex;
  max-width: 1800px;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row-reverse;
  height: 70vh;
  overflow: scroll;
  grid-template-columns: repeat(auto-fill,minmax(725px, 1fr));
}
.projectImage {
  height: 380px;
  width: 700px;
  object-fit: cover;
}
.projectCell {
  height: 400px;
  width: 700px;
  display: flex;
  justify-content: center;
}
.linkCell {
  display: flex;
  justify-content: center;
}
.project-desc {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.projectIcon {
  height: 88px;
  width: 88px;
  padding: 5px;
}
.projectIcon:hover {
  height: 96px;
  width: 96px;
}

.contact-header {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 20px;
}
.contactImage {
  height: auto;
  width: 25%;
  object-fit: cover;
}
.contactContainer {
  display: flex;
  flex-direction: row;
  width: 50vw;
  flex-wrap: wrap;
  justify-content: center;
}
.contactIcons {
  display: flex;
  justify-content: flex-end;
}
.skillsContent {
  padding-bottom: 50px;
}
.contactImageCells {
  display: flex;
  align-items: center;
  padding: 10px;
}
.contact-link {
  color: #06283B;
}
.contact-link:hover {
  color: #6598C7;
}

@media only screen and (max-width: 600px) {
  .App {
    display: flex;
    background-image: url('./bondcliff.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    width: 100%;
    height: 80vh;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
    color: white;
    padding-bottom: 0px;
  }
  .about {
    display: flex;
    padding-top: 5px;
    padding-left: 50px;
    padding-right: 50px;
    height: 80vh;
    overflow: scroll;
  }
  .aboutText {
    height: 380px;
    font-size: 1rem;
    overflow: scroll;
  }
  .self {
    padding: 5px;
    width: 280px;
  }
  .nav {
      background-color: #06283B;
      height: 10vh;
      margin-top: 0px;
      margin-bottom:0px;
      padding-top: 0px;
      color: White;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 0.5vw;
  }
  .headerName {
    font-family: 'Rock Salt', cursive;
    color: white;
    font-size: 5vw;
  }
  .headerName:hover {
    color: #6598C7;
  }
  .projects {
    height: 80vh;
  }
  .projectsGrid {
    height: 70vh;
    overflow: scroll;
  }
  .skills {
    height: 80vh;
    overflow: scroll;
  }
  .footer {
    display: flex;
    font-family: 'Raleway', cursive;
    background-color: #06283B;
    height: 20vw;
    margin-top: 0px;
    margin-bottom:0px;
    padding-top: 10px;
    padding-left: 50px;
    padding-right: 50px;
    color: #D2CED1;
    justify-content: space-between;
    font-size: 0.5vw;
  }
  .footerName {
    font-family: 'Raleway', cursive;
    color: D2CED1;
    font-size: 4vw;
  }
  .navbar {
    background-color: #06283B;
    font-size: 0.75vw;
  }
  .contactImageCells {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #D2CED1;
    justify-content: center;
  }
  .contactText {
    display: flex;
    justify-content: center;
  }
  .link {
    font-size: 4vw;
  }
  .link:hover {
    font-size: 4vw;
  }
  .skillsText {
    font-size: 1.5rem;
  }

}

@media only screen and (min-width: 601px) and (max-width: 1100px) {
  .App {
    display: flex;
    background-image: url('./bondcliff.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    width: 100%;
    height: 80vh;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
    color: white;
    padding-bottom: 0px;
  }
  .about {
    display: flex;
    padding-top: 5px;
    height: 80vh;
    overflow: scroll;
    padding-left: 50px;
    padding-right: 50px;
  }
  .aboutText {
    font-size: 1rem;
    overflow: scroll;
  }
  .self {
    padding: 5px;
    width: 280px;
  }
  .nav {
      background-color: #06283B;
      height: 15vh;
      margin-top: 0px;
      margin-bottom:0px;
      padding-top: 0px;
      color: White;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 0.75vw;
  }
  .headerName {
    font-family: 'Rock Salt', cursive;
    color: white;
    font-size: 4vw;
  }
  .headerName:hover {
    color: #6598C7;
  }
  .projects {
    height: 80vh;
  }
  .projectsGrid {
    height: 70vh;
    overflow: scroll;
  }
  .skills {
    height: 80vh;
  }
  .footer {
    display: flex;
    font-family: 'Raleway', cursive;
    background-color: #06283B;
    height: 20vw;
    margin-top: 0px;
    margin-bottom:0px;
    padding-top: 10px;
    padding-left: 50px;
    padding-right: 50px;
    color: #D2CED1;
    justify-content: space-between;
    font-size: 0.75vw;
  }
  .carousel {
    display:flex;
    flex-direction: column;
  }
  .footerName {
    font-family: 'Raleway', cursive;
    color: white;
    font-size: 4vw;
  }
  .navbar {
    background-color: #06283B;
    font-size: 0.75vw;
  }
  .contactImageCells {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #D2CED1;
  }
  .contactText {
    display: flex;
    justify-content: center;
  }
  .link {
    font-size: 4vw;
  }
  .skillsText {
    font-size: 1.5rem;
  }

}
